/*noinspection ALL*/
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Shape1
{
   border-width: 0;
}
#Shape3
{
   border-width: 0;
}

/*noinspection ALL*/
#Image1
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Shape2
{
   border-width: 0;
}
#YouTube1
{
   border-width: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image2
{
   border-width: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image3
{
   border-width: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
/*noinspection ALL*/
#WrappingText1
{
   background-color: transparent;
   background-image: none;
}
/*noinspection ALL*/
.WrappingText1
{
   position: absolute;
   white-space: normal;
   border-width: 0px;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 9.3px;
   font-style: normal;
   text-align: left;
}
/*noinspection ALL*/
#Image4
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
/*noinspection ALL*/
#Image5
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
/*noinspection ALL*/
#wb_Form2
{
   background-color: transparent;
   background-image: none;
   border: 1px #808080 solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
}
/*noinspection ALL*/
#Editbox1
{
   border: 2px #CCCCCC solid;
   -moz-border-radius: 6px;
   -webkit-border-radius: 6px;
   border-radius: 6px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
/*noinspection ALL*/
#Editbox1:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
/*noinspection ALL*/
#Editbox2
{
   border: 2px #CCCCCC solid;
   -moz-border-radius: 6px;
   -webkit-border-radius: 6px;
   border-radius: 6px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
/*noinspection ALL*/
#Editbox2:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
/*noinspection ALL*/
#Label1
{
   border: 0px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial, serif;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: right;
   vertical-align: middle;
}
/*noinspection ALL*/
#Button1
{
   border: 1px #2E6DA4 solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background: #3370B7 none;
   color: #FFFFFF;
   font-family: Arial, serif;
   font-weight: normal;
   font-size: 13px;
}
/*noinspection ALL*/
#Button2
{
   border: 1px #2E6DA4 solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background: #3370B7 none;
   color: #FFFFFF;
   font-family: Arial, serif;
   font-weight: normal;
   font-size: 13px;
}
/*noinspection ALL*/
#Image6
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
/*noinspection ALL*/
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   padding: 0px 0px 0px 0px;
   font-size: 25px;
}
/*noinspection ALL*/
#Heading1
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1
{
   display: block;
   text-align: left;
   width: 100%;
}
/*noinspection ALL*/
#ResponsiveMenu1
{
   background-color: #696969;
   height: 69px;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 ul
{
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 ul:after
{
   clear: both;
   content: "";
   display: block;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 ul li
{
   background-color: #696969;
   display: list-item;
   float: left;
   list-style: none;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 ul li i
{
   font-size: 24px;
   width: 24px;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 ul li a 
{
   color: #FFFFFF;
   font-family: Arial;
   font-size: 13px;
   font-weight: normal;
   font-style: normal;
   padding: 15px 30px 15px 30px;
   text-align: center;
   text-decoration: none;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 > ul > li > a 
{
   height: 39px;
}
/*noinspection ALL*/
.ResponsiveMenu1 a 
{
   display: block;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 li a:hover, #wb_ResponsiveMenu1 li .active
{ 
   background-color: #CCCCCC;
   color: #696969;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 ul ul
{
   display: none;
   position: absolute;
   top: 69px;
   z-index: 9999;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 ul li:hover > ul
{
   display: list-item;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 ul ul li 
{
   background-color: #808080;
   color: #FFFFFF;
   float: none;
   position: relative;
   width: 246px;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 ul ul li a:hover, #wb_ResponsiveMenu1 ul ul li .active
{
   background-color: #CCCCCC;
   color: #808080;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 ul ul li i 
{
   margin-right: 8px;
   vertical-align: middle;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 ul ul li a 
{
   color: #FFFFFF;
   padding: 15px 20px 15px 20px;
   text-align: left;
   vertical-align: middle;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 ul ul ul li 
{
   left: 246px;
   position: relative;
   top: -69px;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 .arrow-down 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 2px;
   vertical-align: middle;
   border-top: 4px solid #FFFFFF;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 .arrow-left 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-left: 4px solid #FFFFFF;
   border-top: 4px solid transparent;
   border-bottom: 4px solid transparent;
   border-right: 0 dotted;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 li a:hover .arrow-down
{ 
   border-top-color: #696969;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 ul ul li a:hover .arrow-left, #wb_ResponsiveMenu1 ul ul li .active .arrow-left
{ 
   border-left-color: #808080;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 .toggle,[id^=ResponsiveMenu1-submenu]
{
   display: none;
}
/*noinspection ALL*/
@media all and (max-width:768px) 
{
#wb_ResponsiveMenu1 
{
   margin: 0;
}
#wb_ResponsiveMenu1 ul li a, #wb_ResponsiveMenu1 .toggle
{
   font-size: 13px;
   padding: 15px 20px 15px 20px;
}
#wb_ResponsiveMenu1 .toggle + a
{
   display: none !important;
}
.ResponsiveMenu1 
{
   display: none;
   z-index: 9999;
}
#ResponsiveMenu1 
{
   background-color: transparent;
}
#wb_ResponsiveMenu1 > ul > li > a 
{
   height: auto;
}
#wb_ResponsiveMenu1 .toggle 
{
   display: block;
   background-color: #696969;
   color: #FFFFFF;
   padding: 0px 20px 0px 20px;
   line-height: 54px;
   text-decoration: none;
   border: none;
}
#wb_ResponsiveMenu1 .toggle:hover 
{
   background-color: #CCCCCC;
   color: #696969;
}
[id^=ResponsiveMenu1-submenu]:checked + ul 
{
   display: block !important;
}
#ResponsiveMenu1-title
{
   height: 69px;
   line-height: 69px !important;
   text-align: center;
}
#wb_ResponsiveMenu1 ul li 
{
   display: block;
   width: 100%;
}
#wb_ResponsiveMenu1 ul ul .toggle,
#wb_ResponsiveMenu1 ul ul a 
{
   padding: 0 40px;
}
#wb_ResponsiveMenu1 a:hover,
#wb_ResponsiveMenu1 ul ul ul a 
{
   background-color: #808080;
   color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul li ul li .toggle,
#wb_ResponsiveMenu1 ul ul a 
{
   background-color: #808080;
   color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul ul ul a 
{
   padding: 15px 20px 15px 60px;
}
#wb_ResponsiveMenu1 ul li a 
{
   text-align: left;
}
#wb_ResponsiveMenu1 ul li a br 
{
   display: none;
}
#wb_ResponsiveMenu1 ul li i 
{
   margin-right: 8px;
}
#wb_ResponsiveMenu1 ul ul 
{
   float: none;
   position: static;
}
#wb_ResponsiveMenu1 ul ul li:hover > ul,
#wb_ResponsiveMenu1 ul li:hover > ul 
{
   display: none;
}
#wb_ResponsiveMenu1 ul ul li 
{
   display: block;
   width: 100%;
}
#wb_ResponsiveMenu1 ul ul ul li 
{
   position: static;
}
#ResponsiveMenu1-icon 
{
   display: block;
   position: absolute;
   left: 30px;
   top: 22px;
}
#ResponsiveMenu1-icon span 
{
   display: block;
   margin-top: 4px;
   height: 2px;
   background-color: #FFFFFF;
   color: #FFFFFF;
   width: 24px;
}
#wb_ResponsiveMenu1 ul li ul li .toggle:hover
{
   background-color: #CCCCCC;
   color: #808080;
}
#wb_ResponsiveMenu1 .toggle .arrow-down 
{
   border-top-color: #FFFFFF;
}
#wb_ResponsiveMenu1 .toggle:hover .arrow-down, #wb_ResponsiveMenu1 li .active .arrow-down
{ 
   border-top-color: #696969;
}
#wb_ResponsiveMenu1 ul li ul li .toggle .arrow-down 
{
   border-top-color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul li ul li .toggle:hover .arrow-down, #wb_ResponsiveMenu1 ul li ul li .active .arrow-down
{ 
   border-top-color: #808080;
}
}

#wb_Shape3 {
   position: absolute;
   left: 0px;
   top: 258px;
   width: 1000px;
   height: 500px;
   z-index: 7;
}

#Shape3 {
   width: 1000px;
   height: 500px;
}

#wb_Image4 {
   position: absolute;
   left: 6px;
   top: 264px;
   width: 989px;
   height: 489px;
   z-index: 14;
}

#wb_Heading15 {
   position: absolute;
   left: 0px;
   top: 696px;
   width: 227px;
   height: 110px;
   text-align: center;
   z-index: 29;
}

#wb_Heading1588 {
   position: absolute;
   left: 0px;
   top: 696px;
   width: 300px;
   height: 110px;
   text-align: center;
   z-index: 29;
}

#wb_Heading1533 {
   position: absolute;
   left: 0px;
   top: 696px;
   width: 381px;
   height: 110px;
   text-align: center;
   z-index: 29;
}

#wb_Shape1 {
   position: absolute;
   left: 0px;
   top: 10px;
   width: 1000px;
   height: 175px;
   z-index: 7;
}

#Shape1 {
   width: 1000px;
   height: 175px;
}

#wb_Form2 {
   position: absolute;
   left: 766px;
   top: 21px;
   width: 223px;
   height: 153px;
   z-index: 17;
}

#Editbox1 {
   position: absolute;
   left: 14px;
   top: 13px;
   width: 188px;
   height: 18px;
   line-height: 18px;
   z-index: 0;
}

#Editbox2 {
   position: absolute;
   left: 14px;
   top: 54px;
   width: 188px;
   height: 18px;
   line-height: 18px;
   z-index: 1;
}

#signInError {
   margin-top: 76px;
   margin-left: 15px;
   color: #a30013;
   font-size: 14px;
}

#Button1 {
   position: absolute;
   left: 19px;
   top: 109px;
   width: 90px;
   height: 30px;
   z-index: 4;
}

#Button2 {
   position: absolute;
   left: 119px;
   top: 109px;
   width: 90px;
   height: 30px;
   z-index: 5;
}

#wb_Image1 {
   position: absolute;
   left: 45px;
   top: 40px;
   width: 466px;
   height: 113px;
   z-index: 9;
}

#wb_Image5 {
   position: absolute;
   left: 564px;
   top: 20px;
   width: 160px;
   height: 155px;
   z-index: 16;
}

#wb_Heading1 {
   position: absolute;
   left: 228px;
   top: 396px;
   width: 545px;
   height: 110px;
   text-align: center;
   z-index: 19;
}

#wb_Image4 {
   position: absolute;
   left: 6px;
   top: 264px;
   width: 989px;
   height: 489px;
   z-index: 15;
}

#Shape3 {
   width: 1000px;
   height: 500px;
}

#wb_Shape3 {
   position: absolute;
   left: 0px;
   top: 258px;
   width: 1000px;
   height: 500px;
   z-index: 8;
}