/*noinspection ALL*/
body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.1875;
    margin: 0;
    padding: 0;
}
/*noinspection ALL*/
#Table1 {
    border: 2px #808080 solid;
    background-color: transparent;
    background-image: none;
    border-spacing: 1px;
}
/*noinspection ALL*/
#Table1 td {
    padding: 0px 0px 0px 0px;
}
/*noinspection ALL*/
#Table1 td div {
    white-space: nowrap;
}
/*noinspection ALL*/
#Table1 .cell0 {
    background-color: transparent;
    background-image: none;
    border: 1px #C0C0C0 solid;
    text-align: left;
    vertical-align: top;
    width: 157px;
    height: 32px;
}
/*noinspection ALL*/
#Table1 .cell1 {
    background-color: transparent;
    background-image: none;
    border: 1px #C0C0C0 solid;
    text-align: left;
    vertical-align: middle;
    height: 32px;
    color:#000000;
    font-family:Arial;
    font-size:15px;
    line-height:16px;
}
/*noinspection ALL*/
#Table1 .cell2 {
    background-color: transparent;
    background-image: none;
    border: 1px #C0C0C0 solid;
    text-align: center;
    vertical-align: middle;
    height: 32px;
    color:#000000;
    font-family:Arial;
    font-size:15px;
    line-height:16px;
}
/*noinspection ALL*/
#Table1 .cell3 {
    background-color: lightgray;
    background-image: none;
    border: 1px #C0C0C0 solid;
    text-align: center;
    vertical-align: middle;
    height: 32px;
    color:#000000;
    font-family:Arial;
    font-weight:bold;
    font-size:15px;
    line-height:16px;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 {
    display: block;
    text-align: left;
    width: 100%;
}
/*noinspection ALL*/
#ResponsiveMenu1 {
    background-color: #696969;
    height: 69px;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 ul:after {
    clear: both;
    content: "";
    display: block;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 ul li {
    background-color: #696969;
    display: list-item;
    float: left;
    list-style: none;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 ul li i {
    font-size: 24px;
    width: 24px;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 ul li a {
    color: #FFFFFF;
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    padding: 15px 30px 15px 30px;
    text-align: center;
    text-decoration: none;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 > ul > li > a {
    height: 39px;
}
/*noinspection ALL*/
.ResponsiveMenu1 a {
    display: block;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 li a:hover, #wb_ResponsiveMenu1 li .active {
    background-color: #CCCCCC;
    color: #696969;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 ul ul {
    display: none;
    position: absolute;
    top: 69px;
    z-index: 9999;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 ul li:hover > ul {
    display: list-item;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 ul ul li {
    background-color: #808080;
    color: #FFFFFF;
    float: none;
    position: relative;
    width: 246px;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 ul ul li a:hover, #wb_ResponsiveMenu1 ul ul li .active {
    background-color: #CCCCCC;
    color: #808080;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 ul ul li i {
    margin-right: 8px;
    vertical-align: middle;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 ul ul li a {
    color: #FFFFFF;
    padding: 15px 20px 15px 20px;
    text-align: left;
    vertical-align: middle;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 ul ul ul li {
    left: 246px;
    position: relative;
    top: -69px;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 .arrow-down {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid #FFFFFF;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-bottom: 0 dotted;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 .arrow-left {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 4px;
    vertical-align: middle;
    border-left: 4px solid #FFFFFF;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 0 dotted;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 li a:hover .arrow-down {
    border-top-color: #696969;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 ul ul li a:hover .arrow-left, #wb_ResponsiveMenu1 ul ul li .active .arrow-left {
    border-left-color: #808080;
}
/*noinspection ALL*/
#wb_ResponsiveMenu1 .toggle, [id^=ResponsiveMenu1-submenu] {
    display: none;
}
/*noinspection ALL*/
@media all and (max-width: 768px) {
    /*noinspection ALL*/
    #wb_ResponsiveMenu1 {
        margin: 0;
    }
    /*noinspection ALL*/
    #wb_ResponsiveMenu1 ul li a, #wb_ResponsiveMenu1 .toggle {
        font-size: 13px;
        padding: 15px 20px 15px 20px;
    }
    /*noinspection ALL*/
    #wb_ResponsiveMenu1 .toggle + a {
        display: none !important;
    }
    /*noinspection ALL*/
    .ResponsiveMenu1 {
        display: none;
        z-index: 9999;
    }
    /*noinspection ALL*/
    #ResponsiveMenu1 {
        background-color: transparent;
    }
    /*noinspection ALL*/
    #wb_ResponsiveMenu1 > ul > li > a {
        height: auto;
    }
    /*noinspection ALL*/
    #wb_ResponsiveMenu1 .toggle {
        display: block;
        background-color: #696969;
        color: #FFFFFF;
        padding: 0px 20px 0px 20px;
        line-height: 54px;
        text-decoration: none;
        border: none;
    }
    /*noinspection ALL*/
    #wb_ResponsiveMenu1 .toggle:hover {
        background-color: #CCCCCC;
        color: #696969;
    }
    /*noinspection ALL*/
    [id^=ResponsiveMenu1-submenu]:checked + ul {
        display: block !important;
    }
    /*noinspection ALL*/
    #ResponsiveMenu1-title {
        height: 69px;
        line-height: 69px !important;
        text-align: center;
    }
    /*noinspection ALL*/
    #wb_ResponsiveMenu1 ul li {
        display: block;
        width: 100%;
    }
    /*noinspection ALL*/
    #wb_ResponsiveMenu1 ul ul .toggle,
    #wb_ResponsiveMenu1 ul ul a {
        padding: 0 40px;
    }
    /*noinspection ALL*/
    #wb_ResponsiveMenu1 a:hover,
    #wb_ResponsiveMenu1 ul ul ul a {
        background-color: #808080;
        color: #FFFFFF;
    }
    /*noinspection ALL*/
    #wb_ResponsiveMenu1 ul li ul li .toggle,
    #wb_ResponsiveMenu1 ul ul a {
        background-color: #808080;
        color: #FFFFFF;
    }
    /*noinspection ALL*/
    #wb_ResponsiveMenu1 ul ul ul a {
        padding: 15px 20px 15px 60px;
    }
    /*noinspection ALL*/
    #wb_ResponsiveMenu1 ul li a {
        text-align: left;
    }
    /*noinspection ALL*/
    #wb_ResponsiveMenu1 ul li a br {
        display: none;
    }
    /*noinspection ALL*/
    #wb_ResponsiveMenu1 ul li i {
        margin-right: 8px;
    }
    /*noinspection ALL*/
    #wb_ResponsiveMenu1 ul ul {
        float: none;
        position: static;
    }
    /*noinspection ALL*/
    #wb_ResponsiveMenu1 ul ul li:hover > ul,
    #wb_ResponsiveMenu1 ul li:hover > ul {
        display: none;
    }
    /*noinspection ALL*/
    #wb_ResponsiveMenu1 ul ul li {
        display: block;
        width: 100%;
    }
    /*noinspection ALL*/
    #wb_ResponsiveMenu1 ul ul ul li {
        position: static;
    }
    /*noinspection ALL*/
    #ResponsiveMenu1-icon {
        display: block;
        position: absolute;
        left: 30px;
        top: 22px;
    }
    /*noinspection ALL*/
    #ResponsiveMenu1-icon span {
        display: block;
        margin-top: 4px;
        height: 2px;
        background-color: #FFFFFF;
        color: #FFFFFF;
        width: 24px;
    }
    /*noinspection ALL*/
    #wb_ResponsiveMenu1 ul li ul li .toggle:hover {
        background-color: #CCCCCC;
        color: #808080;
    }
    /*noinspection ALL*/
    #wb_ResponsiveMenu1 .toggle .arrow-down {
        border-top-color: #FFFFFF;
    }
    /*noinspection ALL*/
    #wb_ResponsiveMenu1 .toggle:hover .arrow-down, #wb_ResponsiveMenu1 li .active .arrow-down {
        border-top-color: #696969;
    }
    /*noinspection ALL*/
    #wb_ResponsiveMenu1 ul li ul li .toggle .arrow-down {
        border-top-color: #FFFFFF;
    }
    /*noinspection ALL*/
    #wb_ResponsiveMenu1 ul li ul li .toggle:hover .arrow-down, #wb_ResponsiveMenu1 ul li ul li .active .arrow-down {
        border-top-color: #808080;
    }
}
