/*noinspection ALL*/
body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.1875;
    margin: 0;
    padding: 0;
}

/*noinspection ALL*/
#Table1 {
    border: 2px #808080 solid;
    background-color: transparent;
    background-image: none;
    border-spacing: 1px;
}

/*noinspection ALL*/
#Table1 td {
    padding: 0px 0px 0px 0px;
}

/*noinspection ALL*/
#Table1 td div {
    white-space: nowrap;
}

/*noinspection ALL*/
#Table1 .cell0 {
    background-color: transparent;
    background-image: none;
    border: 1px #C0C0C0 solid;
    text-align: left;
    vertical-align: top;
    width: 157px;
    height: 32px;
}

/*noinspection ALL*/
#Table1 .cell1 {
    background-color: transparent;
    background-image: none;
    border: 1px #C0C0C0 solid;
    text-align: left;
    vertical-align: middle;
    height: 32px;
    color: #000000;
    font-family: Arial;
    font-size: 15px;
    line-height: 16px;
}

/*noinspection ALL*/
#Table1 .cell2 {
    background-color: transparent;
    background-image: none;
    border: 1px #C0C0C0 solid;
    text-align: center;
    vertical-align: middle;
    height: 32px;
    color: #000000;
    font-family: Arial;
    font-size: 15px;
    line-height: 16px;
}

/*noinspection ALL*/
#Table1 .cell3 {
    background-color: lightgray;
    background-image: none;
    border: 1px #C0C0C0 solid;
    text-align: center;
    vertical-align: middle;
    height: 32px;
    color: #000000;
    font-family: Arial;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
}

/*noinspection ALL*/
#wb_ResponsiveMenu1 {
    display: block;
    text-align: left;
    width: 100%;
}

/*noinspection ALL*/
#ResponsiveMenu1 {
    background-color: #696969;
    height: 69px;
}

/*noinspection ALL*/
#wb_ResponsiveMenu1 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

/*noinspection ALL*/
#wb_ResponsiveMenu1 ul:after {
    clear: both;
    content: "";
    display: block;
}

/*noinspection ALL*/
#wb_ResponsiveMenu1 ul li {
    background-color: #696969;
    display: list-item;
    float: left;
    list-style: none;
}

/*noinspection ALL*/
#wb_ResponsiveMenu1 ul li i {
    font-size: 24px;
    width: 24px;
}

/*noinspection ALL*/
#wb_ResponsiveMenu1 ul li a {
    color: #FFFFFF;
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    padding: 15px 30px 15px 30px;
    text-align: center;
    text-decoration: none;
}

/*noinspection ALL*/
#wb_ResponsiveMenu1 > ul > li > a {
    height: 39px;
}

/*noinspection ALL*/
.ResponsiveMenu1 a {
    display: block;
}

/*noinspection ALL*/
#wb_ResponsiveMenu1 li a:hover, #wb_ResponsiveMenu1 li .active {
    background-color: #CCCCCC;
    color: #696969;
}

/*noinspection ALL*/
#wb_ResponsiveMenu1 ul ul {
    display: none;
    position: absolute;
    top: 69px;
    z-index: 9999;
}

/*noinspection ALL*/
#wb_ResponsiveMenu1 ul li:hover > ul {
    display: list-item;
}

/*noinspection ALL*/
#wb_ResponsiveMenu1 ul ul li {
    background-color: #808080;
    color: #FFFFFF;
    float: none;
    position: relative;
    width: 246px;
}

/*noinspection ALL*/
#wb_ResponsiveMenu1 ul ul li a:hover, #wb_ResponsiveMenu1 ul ul li .active {
    background-color: #CCCCCC;
    color: #808080;
}

/*noinspection ALL*/
#wb_ResponsiveMenu1 ul ul li i {
    margin-right: 8px;
    vertical-align: middle;
}

/*noinspection ALL*/
#wb_ResponsiveMenu1 ul ul li a {
    color: #FFFFFF;
    padding: 15px 20px 15px 20px;
    text-align: left;
    vertical-align: middle;
}

/*noinspection ALL*/
#wb_ResponsiveMenu1 ul ul ul li {
    left: 246px;
    position: relative;
    top: -69px;
}

/*noinspection ALL*/
#wb_ResponsiveMenu1 .arrow-down {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid #FFFFFF;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-bottom: 0 dotted;
}

/*noinspection ALL*/
#wb_ResponsiveMenu1 .arrow-left {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 4px;
    vertical-align: middle;
    border-left: 4px solid #FFFFFF;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 0 dotted;
}

/*noinspection ALL*/
#wb_ResponsiveMenu1 li a:hover .arrow-down {
    border-top-color: #696969;
}

/*noinspection ALL*/
#wb_ResponsiveMenu1 ul ul li a:hover .arrow-left, #wb_ResponsiveMenu1 ul ul li .active .arrow-left {
    border-left-color: #808080;
}

/*noinspection ALL*/
#wb_ResponsiveMenu1 .toggle, [id^=ResponsiveMenu1-submenu] {
    display: none;
}

/*noinspection ALL*/
@media all and (max-width: 768px) {
    /*noinspection ALL*/
    #wb_ResponsiveMenu1 {
        margin: 0;
    }

    /*noinspection ALL*/
    #wb_ResponsiveMenu1 ul li a, #wb_ResponsiveMenu1 .toggle {
        font-size: 13px;
        padding: 15px 20px 15px 20px;
    }

    /*noinspection ALL*/
    #wb_ResponsiveMenu1 .toggle + a {
        display: none !important;
    }

    /*noinspection ALL*/
    .ResponsiveMenu1 {
        display: none;
        z-index: 9999;
    }

    /*noinspection ALL*/
    #ResponsiveMenu1 {
        background-color: transparent;
    }

    /*noinspection ALL*/
    #wb_ResponsiveMenu1 > ul > li > a {
        height: auto;
    }

    /*noinspection ALL*/
    #wb_ResponsiveMenu1 .toggle {
        display: block;
        background-color: #696969;
        color: #FFFFFF;
        padding: 0px 20px 0px 20px;
        line-height: 54px;
        text-decoration: none;
        border: none;
    }

    /*noinspection ALL*/
    #wb_ResponsiveMenu1 .toggle:hover {
        background-color: #CCCCCC;
        color: #696969;
    }

    /*noinspection ALL*/
    [id^=ResponsiveMenu1-submenu]:checked + ul {
        display: block !important;
    }

    /*noinspection ALL*/
    #ResponsiveMenu1-title {
        height: 69px;
        line-height: 69px !important;
        text-align: center;
    }

    /*noinspection ALL*/
    #wb_ResponsiveMenu1 ul li {
        display: block;
        width: 100%;
    }

    /*noinspection ALL*/
    #wb_ResponsiveMenu1 ul ul .toggle,
    #wb_ResponsiveMenu1 ul ul a {
        padding: 0 40px;
    }

    /*noinspection ALL*/
    #wb_ResponsiveMenu1 a:hover,
    #wb_ResponsiveMenu1 ul ul ul a {
        background-color: #808080;
        color: #FFFFFF;
    }

    /*noinspection ALL*/
    #wb_ResponsiveMenu1 ul li ul li .toggle,
    #wb_ResponsiveMenu1 ul ul a {
        background-color: #808080;
        color: #FFFFFF;
    }

    /*noinspection ALL*/
    #wb_ResponsiveMenu1 ul ul ul a {
        padding: 15px 20px 15px 60px;
    }

    /*noinspection ALL*/
    #wb_ResponsiveMenu1 ul li a {
        text-align: left;
    }

    /*noinspection ALL*/
    #wb_ResponsiveMenu1 ul li a br {
        display: none;
    }

    /*noinspection ALL*/
    #wb_ResponsiveMenu1 ul li i {
        margin-right: 8px;
    }

    /*noinspection ALL*/
    #wb_ResponsiveMenu1 ul ul {
        float: none;
        position: static;
    }

    /*noinspection ALL*/
    #wb_ResponsiveMenu1 ul ul li:hover > ul,
    #wb_ResponsiveMenu1 ul li:hover > ul {
        display: none;
    }

    /*noinspection ALL*/
    #wb_ResponsiveMenu1 ul ul li {
        display: block;
        width: 100%;
    }

    /*noinspection ALL*/
    #wb_ResponsiveMenu1 ul ul ul li {
        position: static;
    }

    /*noinspection ALL*/
    #ResponsiveMenu1-icon {
        display: block;
        position: absolute;
        left: 30px;
        top: 22px;
    }

    /*noinspection ALL*/
    #ResponsiveMenu1-icon span {
        display: block;
        margin-top: 4px;
        height: 2px;
        background-color: #FFFFFF;
        color: #FFFFFF;
        width: 24px;
    }

    /*noinspection ALL*/
    #wb_ResponsiveMenu1 ul li ul li .toggle:hover {
        background-color: #CCCCCC;
        color: #808080;
    }

    /*noinspection ALL*/
    #wb_ResponsiveMenu1 .toggle .arrow-down {
        border-top-color: #FFFFFF;
    }

    /*noinspection ALL*/
    #wb_ResponsiveMenu1 .toggle:hover .arrow-down, #wb_ResponsiveMenu1 li .active .arrow-down {
        border-top-color: #696969;
    }

    /*noinspection ALL*/
    #wb_ResponsiveMenu1 ul li ul li .toggle .arrow-down {
        border-top-color: #FFFFFF;
    }

    /*noinspection ALL*/
    #wb_ResponsiveMenu1 ul li ul li .toggle:hover .arrow-down, #wb_ResponsiveMenu1 ul li ul li .active .arrow-down {
        border-top-color: #808080;
    }
}

#wb_Form14 {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px #CCCCCC solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

/*noinspection ALL*/
#Editbox54 {
    border: 1px #CCCCCC solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: none;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    text-align: center;
    vertical-align: middle;
}

/*noinspection ALL*/
#Editbox54:focus {
    border-color: #66AFE9;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    outline: 0;
}

/*noinspection ALL*/
#Label94 {
    border: 0px #CCCCCC solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: transparent;
    background-image: none;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    text-align: left;
    vertical-align: middle;
}

/*noinspection ALL*/
#Label54 {
    border: 0px #CCCCCC solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: transparent;
    background-image: none;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    text-align: left;
    vertical-align: middle;
}

/*noinspection ALL*/
#Editbox14 {
    border: 1px #CCCCCC solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: none;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    text-align: left;
    vertical-align: middle;
}

/*noinspection ALL*/
#Editbox14:focus {
    border-color: #66AFE9;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    outline: 0;
}

/*noinspection ALL*/
#Label64 {
    border: 0px #CCCCCC solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: transparent;
    background-image: none;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    text-align: left;
    vertical-align: middle;
}

/*noinspection ALL*/
#Label74 {
    border: 0px #CCCCCC solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: transparent;
    background-image: none;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    text-align: left;
    vertical-align: middle;
}

/*noinspection ALL*/
#Label6455 {
    border: 0px #CCCCCC solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: transparent;
    background-image: none;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    text-align: left;
    vertical-align: middle;
}


/*noinspection ALL*/
#Label7455 {
    border: 0px #CCCCCC solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: transparent;
    background-image: none;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    text-align: left;
    vertical-align: middle;
}
/*noinspection ALL*/
#Label64558 {
    border: 0px #CCCCCC solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: transparent;
    background-image: none;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    text-align: left;
    vertical-align: middle;
}


/*noinspection ALL*/
#Label74558 {
    border: 0px #CCCCCC solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: transparent;
    background-image: none;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    text-align: left;
    vertical-align: middle;
}
/*noinspection ALL*/
#Label84 {
    border: 0px #CCCCCC solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: transparent;
    background-image: none;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    text-align: left;
    vertical-align: middle;
}

/*noinspection ALL*/
#Editbox44 {
    border: 1px #CCCCCC solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: none;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    text-align: left;
    vertical-align: middle;
}

/*noinspection ALL*/
#Editbox44:focus {
    border-color: #66AFE9;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    outline: 0;
}

/*noinspection ALL*/
#Button34 {
    border: 1px #2E6DA4 solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #3370B7;
    background-image: none;
    color: #FFFFFF;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
}

/*noinspection ALL*/
#Button14 {
    border: 1px #2E6DA4 solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #3370B7;
    background-image: none;
    color: #FFFFFF;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
}

/*noinspection ALL*/
#Combobox14 {
    border: 1px #CCCCCC solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: none;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*noinspection ALL*/
#Combobox14:focus {
    border-color: #66AFE9;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    outline: 0;
}

/*noinspection ALL*/
#Combobox24 {
    border: 1px #CCCCCC solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: none;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*noinspection ALL*/
#Combobox24:focus {
    border-color: #66AFE9;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    outline: 0;
}

/*noinspection ALL*/
#Combobox1455 {
    border: 1px #CCCCCC solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: none;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*noinspection ALL*/
#Combobox1455:focus {
    border-color: #66AFE9;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    outline: 0;
}

/*noinspection ALL*/
#Combobox2455 {
    border: 1px #CCCCCC solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: none;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*noinspection ALL*/
#Combobox2455:focus {
    border-color: #66AFE9;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    outline: 0;
}

/*noinspection ALL*/
#Label104 {
    border: 0px #CCCCCC solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: transparent;
    background-image: none;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    text-align: left;
    vertical-align: middle;
}

/*noinspection ALL*/
#Editbox24 {
    border: 1px #CCCCCC solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: none;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    text-align: left;
    vertical-align: middle;
}

/*noinspection ALL*/
#Editbox24:focus {
    border-color: #66AFE9;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.60);
    outline: 0;
}

/*noinspection ALL*/
#Label94 {
    position: absolute;
    left: 17px;
    top: 17px;
    width: 79px;
    height: 20px;
    line-height: 20px;
    z-index: 6;
}

/*noinspection ALL*/
#Label54 {
    position: absolute;
    left: 17px;
    top: 73px;
    width: 454px;
    height: 20px;
    line-height: 20px;
    z-index: 7;
}

/*noinspection ALL*/
#Editbox14 {
    position: absolute;
    left: 17px;
    top: 101px;
    width: 454px;
    height: 23px;
    line-height: 18px;
    z-index: 8;
}

/*noinspection ALL*/
#Label64 {
    position: absolute;
    left: 17px;
    top: 129px;
    width: 454px;
    height: 20px;
    line-height: 20px;
    z-index: 9;
}

/*noinspection ALL*/
#Label74 {
    position: absolute;
    left: 17px;
    top: 185px;
    width: 454px;
    height: 20px;
    line-height: 20px;
    z-index: 10;
}

/*noinspection ALL*/
#Label6455 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 20px;
    line-height: 20px;
    z-index: 10;
}

/*noinspection ALL*/
#Label7455 {
    position: absolute;
    left: 17px;
    top: 185px;
    width: 60px;
    height: 20px;
    line-height: 20px;
    z-index: 10;
}
/*noinspection ALL*/
#Label64558 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 20px;
    line-height: 20px;
    z-index: 10;
}

/*noinspection ALL*/
#Label74558 {
    position: absolute;
    left: 17px;
    top: 185px;
    width: 60px;
    height: 20px;
    line-height: 20px;
    z-index: 10;
}


/*noinspection ALL*/
#Label84 {
    position: absolute;
    left: 17px;
    top: 242px;
    width: 454px;
    height: 20px;
    line-height: 20px;
    z-index: 11;
}

/*noinspection ALL*/
#Editbox44 {
    position: absolute;
    left: 17px;
    top: 271px;
    width: 454px;
    height: 23px;
    line-height: 18px;
    z-index: 12;
}

/*noinspection ALL*/
#Button34 {
    position: absolute;
    left: 686px;
    top: 356px;
    width: 113px;
    height: 32px;
    z-index: 13;
}

/*noinspection ALL*/
#Button14 {
    position: absolute;
    left: 818px;
    top: 356px;
    width: 113px;
    height: 32px;
    z-index: 14;
}

/*noinspection ALL*/
#Combobox14 {
    position: absolute;
    left: 17px;
    top: 218px;
    width: 454px;
    height: 23px;
    z-index: 15;
}

/*noinspection ALL*/
#Combobox24 {
    position: absolute;
    left: 17px;
    top: 157px;
    width: 454px;
    height: 23px;
    z-index: 16;
}

/*noinspection ALL*/
#Combobox1455 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 454px;
    height: 23px;
    z-index: 29;
}

/*noinspection ALL*/
#Combobox2455 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 454px;
    height: 23px;
    z-index: 29;
}

/*noinspection ALL*/
#Label104 {
    position: absolute;
    left: 17px;
    top: 299px;
    width: 454px;
    height: 20px;
    line-height: 20px;
    z-index: 17;
}

/*noinspection ALL*/
#Editbox24 {
    position: absolute;
    left: 17px;
    top: 328px;
    width: 454px;
    height: 23px;
    line-height: 18px;
    z-index: 18;
}

/*noinspection ALL*/
#Editbox54 {
    position: absolute;
    left: 17px;
    top: 45px;
    width: 77px;
    height: 23px;
    line-height: 18px;
    z-index: 5;
}

/*noinspection ALL*/
#wb_Form14 {
    position: absolute;
    left: 17px;
    top: 275px;
    width: 960px;
    height: 408px;
    z-index: 29;
}

/*noinspection ALL*/
#Shape3 {
    width: 1000px;
    height: 500px;
}

/*noinspection ALL*/
#wb_Image4 {
    position: absolute;
    left: 6px;
    top: 264px;
    width: 989px;
    height: 489px;
    z-index: 14;
}

/*noinspection ALL*/
#wb_Shape3 {
    position: absolute;
    left: 0px;
    top: 258px;
    width: 1000px;
    height: 500px;
    z-index: 7;
}

/*noinspection ALL*/
#wb_Shape3 {
    position: absolute;
    left: 0px;
    top: 258px;
    width: 1000px;
    height: 500px;
    z-index: 7;
}

/*noinspection ALL*/
#Shape3 {
    width: 1000px;
    height: 500px;
}

/*noinspection ALL*/
#wb_Image4 {
    position: absolute;
    left: 6px;
    top: 264px;
    width: 989px;
    height: 489px;
    z-index: 14;
}

/*noinspection ALL*/
#Table1 {
    position: relative;
    left: 21px;
    top: 287px;
    width: 955px;
    z-index: 17;
}

/*noinspection ALL*/
#Label124 {
    border: 0px #CCCCCC solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #FFDAB9;
    background-image: none;
    color: #DC143C;
    font-family: "Times New Roman";
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    text-align: left;
    vertical-align: middle;
}

/*noinspection ALL*/
#Label124 {
    position: absolute;
    left: 115px;
    top: 18px;
    width: 330px;
    height: 21px;
    line-height: 21px;
    z-index: 19;
}

/*noinspection ALL*/
#Label125 {
    border: 0px #CCCCCC solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #FFDAB9;
    background-image: none;
    color: #DC143C;
    font-family: "Times New Roman";
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    text-align: left;
    vertical-align: middle;
}

/*noinspection ALL*/
#Label125 {
    position: absolute;
    left: 115px;
    top: 73px;
    width: 330px;
    height: 21px;
    line-height: 21px;
    z-index: 19;
}

/*noinspection ALL*/
#Label126 {
    border: 0px #CCCCCC solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #FFDAB9;
    background-image: none;
    color: #DC143C;
    font-family: "Times New Roman";
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    text-align: left;
    vertical-align: middle;
}

/*noinspection ALL*/
#Label126 {
    position: absolute;
    left: 115px;
    top: 129px;
    width: 330px;
    height: 21px;
    line-height: 21px;
    z-index: 19;
}

/*noinspection ALL*/
#Label127 {
    border: 0px #CCCCCC solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #FFDAB9;
    background-image: none;
    color: #DC143C;
    font-family: "Times New Roman";
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    text-align: left;
    vertical-align: middle;
}

/*noinspection ALL*/
#Label127 {
    position: absolute;
    left: 115px;
    top: 190px;
    width: 330px;
    height: 21px;
    line-height: 21px;
    z-index: 19;
}

/*noinspection ALL*/
#Label128 {
    border: 0px #CCCCCC solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #FFDAB9;
    background-image: none;
    color: #DC143C;
    font-family: "Times New Roman";
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    text-align: left;
    vertical-align: middle;
}

/*noinspection ALL*/
#Label128 {
    position: absolute;
    left: 115px;
    top: 243px;
    width: 330px;
    height: 21px;
    line-height: 21px;
    z-index: 19;
}

/*noinspection ALL*/
#Label129 {
    border: 0px #CCCCCC solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #FFDAB9;
    background-image: none;
    color: #DC143C;
    font-family: "Times New Roman";
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    text-align: left;
    vertical-align: middle;
}

/*noinspection ALL*/
#Label129 {
    position: absolute;
    left: 115px;
    top: 301px;
    width: 330px;
    height: 21px;
    line-height: 21px;
    z-index: 19;
}

/*noinspection ALL*/
#Label130 {
    position: absolute;
    left: 533px;
    top: 356px;
    width: 121px;
    height: 24px;
    line-height: 21px;
    z-index: 19;
}

/*noinspection ALL*/
#Label130 {
    border: 0px #CCCCCC solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: lightgreen;
    background-image: none;
    color: black;
    font-family: "Times New Roman";
    font-size: 14px;
    padding: 4px 4px 4px 4px;
    text-align: center;
}